# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
dist/
build/
coverage/

# Temporary files
*.tmp
*.temp
*.swp

# IDE settings
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.tgz
npm-debug.log*
